<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">This is a task manager app where you can write down your tasks for the day so you don't forget them.</p>
    <a href="/tasks/add" class="btn btn-dark btn-lg">Add task</a>
</div>